body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,h2,h3 {
  line-height: 1.2;
  margin-bottom: 10px;
}

.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ababab;
}

.header > a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: black;
}

.full-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.full-table td, .full-table th {
  border-bottom: 1px solid black;
}

.full-table tr td:first-child {
  padding-left: 10px;
}

.full-table tr td:last-child {
  padding-right: 10px;
}

.spanning-row {
  text-align: center;
}

.form-table th {
  text-align: left;
}

.form-table .errorlist {
  list-style: none;
  padding: 5px 10px;
  color: red;
  border: 1px dashed red;
  width: 100%;
}
