{% extends "cspace/base.html" %}

{% block title %}Chemical Set: {{ chem_set.name }}{% endblock %}

{% block page_content %}
  <h2>Chemical Set: {{ chem_set.name }}</h2>

  <p>
    {{ chem_set.description }}
  </p>

  {% include "cspace/facet-table.html" with include_chem_set=False facets=chem_set.chemicalsetfacet_set.all %}

  <form action="{% url 'chemical-set' chem_set.pk %}" method="POST">
    <h3>Create New Facet</h3>
    {% csrf_token %}
    <table class="form-table">
      {{ create_facet_form.as_table }}
    </table>
    <input type="submit" value="Create" />
  </form>

  <table class="full-table">
    <thead>
      <tr>
        <th class="spanning-row" colspan="3">
          Incomplete Jobs
        </th>
      <tr>
        <th>Similarity Measure</th>
        <th>Embedding</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job.get_sim_measure_display }}</td>
          <td>{{ job.get_embedding_display }}</td>
          <td>{{ job.get_status_display }}</td>
        </tr>
      {% empty %}
        <tr>
          <td class="spanning-row" colspan="3">
            No Incomplete Jobs
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
